<%- include("Partials/header") %>
<body>
  <div id="preloader">
    <div class="loader"></div>
  </div>
  <div class="wrapper">
    <%- include('Partials/menu.ejs') %>
    <div class="main-content">
      <h1>Nhập Kho</h1>
    </div>
  </div>
</body>
<%- include("Partials/footer") %>
