<%- include("Partials/header") %>
<body>
  <div class="wrapper">
    <%- include('Partials/menu.ejs') %> 
    <div class="main-content">
       <h1>Sản Phẩm</h1>
    </div>
  </div>
</body>
<%- include("Partials/footer") %>
