<%- include("Partials/header") %>

<body>
  <div id="preloader">
    <div class="loader"></div>
  </div>

  <div class="wrapper">
      <div id="slide-bar">
        <%- include("Partials/menu")%>
      </div>
    <div class="main-content">
      <div class="content-header">
        <h1>Danh Sách Các Sản Phẩm</h1>
        <div id="btnMenuSideBar" class="btn abtn" >
              <button class="d-flex justify-content-center align-items-center btn btn-outline-secondary">
                 <i class="fas fa-bars "></i>
              </button>
        </div>
      </div>
      <div class="mbtn align-items-sm-end mb-3 mr-4 add-btn">
        <button type="button" id="btnAdd" class="btn btn-outline-primary abtn" data-toggle="modal"
          data-target="#modalAddProduct" data-backdrop="false">
          <i class="fas fa-plus fa-1x"></i>
          <p>Thêm</p>
        </button>
      </div>
      <div id="products" class="products">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Mã</th>
              <th scope="col">Hình Ảnh</th>
              <th scope="col">Loại Sản Phẩm</th>
              <th scope="col">Tên Sản Phẩm</th>
              <th scope="col">Trạng Thái</th>
              <th scope="col">Thao Tác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div class="middle">SB</div>
              </th>
              <td>
                <div class="middle">
                  <img width="120" height="120"
                    src="https://drive.google.com/uc?export=view&id=1I5wY0nNrwPRVrtT91FjfzGf0w6sFg0gk"
                    alt="Ảnh Sản Phẩm" />
                </div>
              </td>
              <td>
                <div class="middle">Khoai Sấy</div>
              </td>
              <td>
                <div class="middle">Khoai Sấy Bơ</div>
              </td>
              <td>
                <div class="middle">
                  <i style="color: #00ff66" class="fas fa-check-circle"></i>
                  <i style="display: none" style="color: #ff3300" class="fas fa-times-circle" aria-hidden="true"></i>
                </div>
              </td>
              <td>
                <div class="mbtn">
                  <button class="btn btn-outline-danger abtn lock" data-id="1">
                    <i class="fas fa-lock fa-1x"></i>
                    <p>Khoá</p>
                  </button>

                  <button style="display: none" data-id="1" class="btn btn-outline-primary abtn lock">
                    <i class="fas fa-unlock fa-1x"></i>
                    <p>Mở Khoá</p>
                  </button>

                  <button data-toggle="modal" data-backdrop="false" data-target="#modalDetailProduct"
                    class="btn btn-outline-info abtn detail" data-id="1">
                    <i class="fas fa-info fa-1x"></i>
                    <p>Chi Tiết</p>
                  </button>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="middle">SPM</div>
              </th>
              <td>
                <div class="middle">
                  <img width="120" height="120"
                    src="https://drive.google.com/uc?export=view&id=1I5wY0nNrwPRVrtT91FjfzGf0w6sFg0gk"
                    alt="Ảnh Sản Phẩm" />
                </div>
              </td>
              <td>
                <div class="middle">Khoai Sấy</div>
              </td>
              <td>
                <div class="middle">Khoai Sấy Phô Mai</div>
              </td>
              <td>
                <div class="middle">
                  <i style="color: #00ff66" class="fas fa-check-circle"></i>
                  <i style="display: none" style="color: #ff3300" class="fas fa-times-circle" aria-hidden="true"></i>
                </div>
              </td>
              <td>
                <div class="mbtn">
                  <button class="btn btn-outline-danger abtn lock" data-id="2">
                    <i class="fas fa-lock fa-1x"></i>
                    <p>Khoá</p>
                  </button>

                  <button style="display: none" data-id="2" class="btn btn-outline-primary abtn lock">
                    <i class="fas fa-unlock fa-1x"></i>
                    <p>Mở Khoá</p>
                  </button>

                  <button data-toggle="modal" data-backdrop="false" data-target="#modalDetailProduct"
                    class="btn btn-outline-info abtn detail" data-id="2">
                    <i class="fas fa-info fa-1x"></i>
                    <p>Chi Tiết</p>
                  </button>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="middle">SPM</div>
              </th>
              <td>
                <div class="middle">
                  <img width="120" height="120"
                    src="https://drive.google.com/uc?export=view&id=1I5wY0nNrwPRVrtT91FjfzGf0w6sFg0gk"
                    alt="Ảnh Sản Phẩm" />
                </div>
              </td>
              <td>
                <div class="middle">Khoai Sấy</div>
              </td>
              <td>
                <div class="middle">Khoai Sấy Phô Mai</div>
              </td>
              <td>
                <div class="middle">
                  <i style="color: #00ff66" class="fas fa-check-circle"></i>
                  <i style="display: none" style="color: #ff3300" class="fas fa-times-circle" aria-hidden="true"></i>
                </div>
              </td>
              <td>
                <div class="mbtn">
                  <button class="btn btn-outline-danger abtn lock" data-id="2">
                    <i class="fas fa-lock fa-1x"></i>
                    <p>Khoá</p>
                  </button>

                  <button style="display: none" data-id="2" class="btn btn-outline-primary abtn lock">
                    <i class="fas fa-unlock fa-1x"></i>
                    <p>Mở Khoá</p>
                  </button>

                  <button data-toggle="modal" data-backdrop="false" data-target="#modalDetailProduct"
                    class="btn btn-outline-info abtn detail" data-id="2">
                    <i class="fas fa-info fa-1x"></i>
                    <p>Chi Tiết</p>
                  </button>
                </div>
              </td>
            </tr>

            <tr>
              <th scope="row">
                <div class="middle">SPM</div>
              </th>
              <td>
                <div class="middle">
                  <img width="120" height="120"
                    src="https://drive.google.com/uc?export=view&id=1I5wY0nNrwPRVrtT91FjfzGf0w6sFg0gk"
                    alt="Ảnh Sản Phẩm" />
                </div>
              </td>
              <td>
                <div class="middle">Khoai Sấy</div>
              </td>
              <td>
                <div class="middle">Khoai Sấy Phô Mai</div>
              </td>
              <td>
                <div class="middle">
                  <i style="color: #00ff66" class="fas fa-check-circle"></i>
                  <i style="display: none" style="color: #ff3300" class="fas fa-times-circle" aria-hidden="true"></i>
                </div>
              </td>
              <td>
                <div class="mbtn">
                  <button class="btn btn-outline-danger abtn lock" data-id="2">
                    <i class="fas fa-lock fa-1x"></i>
                    <p>Khoá</p>
                  </button>

                  <button style="display: none" data-id="2" class="btn btn-outline-primary abtn lock">
                    <i class="fas fa-unlock fa-1x"></i>
                    <p>Mở Khoá</p>
                  </button>

                  <button data-toggle="modal" data-backdrop="false" data-target="#modalDetailProduct"
                    class="btn btn-outline-info abtn detail" data-id="2">
                    <i class="fas fa-info fa-1x"></i>
                    <p>Chi Tiết</p>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade my-bg" id="modalAddProduct" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalTitle">Thêm Mới Sản Phẩm</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%- include("Partials/frmAddNewProduct")%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
            Đóng
          </button>
          <button type="submit" form="frmAddProduct" class="btn btn-primary">Thêm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade my-bg" id="modalDetailProduct" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalTitle">Chi Tiết Sản Phẩm</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modalContent" class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" id="btnDong" class="btn btn-outline-danger" data-dismiss="modal">
            Đóng
          </button>
          <button type="button" id="btnCapNhat" class="btn btn-primary">Cập Nhật</button>
        </div>
      </div>
    </div>
  </div>


</body>
<%- include("Partials/footer") %>