<%- include("Partials/header") %>
<body>
  <div class="wrapper">
    <div class="main-nav">
      <nav>
        <div class="main-nav-logo">
          <img src="img/logo.png" alt="" />
        </div>
        <h3>MENU</h3>
        <ul>
          <li>
            <a href="#">
              <img src="img/data-analysis.png" alt="" />
              Trang Chủ
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/shipping.png" alt="" />
              Sản Phẩm
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/money.png" alt="" />
              Doanh Thu
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/add.png" alt="" />
              Nhập Kho
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/minus.png" alt="" />
              Xuất Kho
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/bill.png" alt="" />
              Đơn Hàng
            </a>
          </li>
          <li></li>
        </ul>
        <div class="btn-out">
          <a href="#">
            <i class="fa fa-power-off"></i>
            Đăng Xuất
          </a>
        </div>
      </nav>
    </div>
    <div class="main-content">
      <div class="main-content-dashboard">
        <!-- <img  src="img/logo-3.jpg" alt="" /> -->
        <!-- <h1>Beeline Food</h1> -->
      </div>
    </div>
  </div>
</body>
<%- include("Partials/footer") %>
