<%- include("Partials/header") %>

<body>
  <div id="preloader">
    <div class="loader"></div>
  </div>

  <div class="wrapper">
    <div id="slide-bar">
      <%- include("Partials/menu")%>
    </div>
    <div class="main-content">
      <img src="img/logo-3.jpg" alt="" />
    </div>
  </div>

  </div>



</body>
<%- include("Partials/footer") %>